<div class="container-fluid justify-content-between align-items-center my-3">
  {{#if loggedIn}}
    <form id="blogPostForm">
    <div class="mb-3">
      <label for="titleInput" class="form-label">Title</label>
      <input type="title" class="form-control" id="titleInput" />
    </div>
    <div class="mb-3">
      <label for="content1" class="form-label">Content</label>
      <textarea class="form-control" id="content1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-dark">Create</button>
  </form>
  {{else}}
    <p>Please login or create an account to post.</p>
  {{/if}}
  
</div>

<script src="./js/post.js"></script>